
* {
  font-family: 'Raleway',Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;

}

.ce-chat-list {
  background-color: #bed3c3  !important;
}

.ce-chats-container {
  background-color: #ebaca2 !important;
}

.ce-active-chat-card {
  background-color: #ce6a6b !important;
  border: 4px solid #ce6a6b !important;
  border-radius: 0px !important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
  font-weight: 600;
}
.ce-chat-title-text  {
  font-weight: 700 !important;
}
.ce-chat-form-container {
  padding-bottom: 20px !important;
  padding-right: 0px !important;
  width: inherit;
  background-color:#bed3c3  !important;
}

.ce-text-input {
  border-radius: 22px !important;
  border: 1px solid #ce6a6b !important;
}

.ce-primary-button {
  border-radius: 22px !important;
  background-color: #ce6a6b !important;
  /*position: relative;*/
  bottom: 1px;
}


.ce-danger-button {
  background-color: rgb(240, 240, 240)  !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: #bed3c3 !important;
}

.ce-autocomplete-input {
  border-radius: 22px !important;
  border: 1px solid #ce6a6b !important;
}

.ce-autocomplete-options {
  border-radius:22px !important;
  border: 1px solid #ce6a6b !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  /*padding-top: 50px !important; vyshe etogo nujen logout*/
  text-align: center;
  
}
.ce-chat-settings-container + div {
  border: none !important;
}
/*.ce-settings-container:after {
  height: 20px;
  background-color: red;
}*/
.ce-chat-avatars-row {
  display: none !important;
}

/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
}
.ce-chat-title-form {
  color:red !important;
}
.chat-title-container {

  width: 100%;
  padding: 18px;
  text-align: center;
}

.chat-title {
  color: #ce6a6b;
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: #ce6a6b;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message-avatar-letters {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 22px;
  max-width: 60%;

}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  /* width: 30vw; */
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 18px;
  background-color: rgb(240, 240, 240);
}

.message-form {
  overflow: hidden;
  border-radius: 22px;
  border: 1px solid #ce6a6b;
  background-color: white;
}

.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
}

.image-button {
  cursor: pointer;
  padding: 0px 12px;
  height: 100%;
}
.image-button:hover .send-button:hover {
  border-color: none;
}
.send-button {
  height: 42px;
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  cursor: pointer;
}

.send-icon {
  top: 1px;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
}


/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

.wrapper {
  height: 100vh;
	width: 100%;
  background: rgb(206,106,107);
background: linear-gradient(90deg, rgba(206,106,107,1) 0%, rgba(235,172,162,1) 65%, rgba(190,211,195,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 400px;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;;
}

.button {
  border-radius: 4px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}
.button-additional {
  border-radius: 4px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 100px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 60%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
  }

.error {
  text-align: center;
  padding-bottom: 10px;
}


.Active-Chat-Props {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.opened-chats {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 10 !important;
  background-color: red;
  top: 100px;
  left: 100px;
}

.nothing {
display: none;
}



.top-icons {
  margin-top: 1rem;
  display: flex;
  margin-right: 16px;
  background-color: #bed3c3;
  flex-direction: row;
  justify-content: flex-end;

  align-items: center;
  z-index: 20 !important;
  width: 100%;
}

.top-icons *{
  font-size: 1.2rem;
  margin: 2px;
}


.top-mobile {
  display: none;
}
@media only screen and (max-width: 576px) {
  .ce-chats-container {
    display: none;
  }
  .top-menu {
    display: none;}
  .top-mobile {
    z-index: 20 !important;
    display: flex !important;
    flex-direction: column;
    width: 100%;
    background-color: #ce6a6b;
    position: absolute;
    justify-content: flex-start;
    padding: 5px;
  }
  .top-mobile-icons {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }
  .top-mobile-icons *{
    font-size: 1.5rem;
    margin: 0.2rem;
  }

  .chat-title-container {
    margin-top: 5vh;
    justify-content: center;
  }
  .chatCard {
    display: flex;
    flex-direction: column;
    background-color: #ebaca2 ;
    margin: 2px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 22px;
    margin-bottom: 5px;

  }
  .chatCard:hover{
    background-color: #bed3c3;
  }
  .chatCard-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;

  }
  .chatCard-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
  }
}

